body {
    background-image: linear-gradient(to bottom right, #B7F7F5, #977CE4);
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px;
    padding-left:50px;
    padding-right:50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    margin-top: 5em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

button.choose-file-button {
  width: 200px;
  height: 40px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #7052CB;
  font-size: 13px;
  color: #7052CB;
}

button:hover {
  background-color: #7052CB;
  color: white;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #7052CB;
    border-radius: 2px;
    background-color: #7052CB;
    font-size: 13px;
    color: #ffffff;
    opacity: 0.6;
    transition: 0.3s;
}

button:focus {outline:0;}
button:hover {opacity: 1}

footer {
    text-align: center;
    text-decoration-color: blue;
    font-size: 10px;
    
}
